.cfgeo-tooltip {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	border-radius: 100%;
	margin-left: 10px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJpbmZvLWNpcmNsZSIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLWluZm8tY2lyY2xlIGZhLXctMTYiIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNMjU2IDhDMTE5LjA0MyA4IDggMTE5LjA4MyA4IDI1NmMwIDEzNi45OTcgMTExLjA0MyAyNDggMjQ4IDI0OHMyNDgtMTExLjAwMyAyNDgtMjQ4QzUwNCAxMTkuMDgzIDM5Mi45NTcgOCAyNTYgOHptMCAxMTBjMjMuMTk2IDAgNDIgMTguODA0IDQyIDQycy0xOC44MDQgNDItNDIgNDItNDItMTguODA0LTQyLTQyIDE4LjgwNC00MiA0Mi00MnptNTYgMjU0YzAgNi42MjctNS4zNzMgMTItMTIgMTJoLTg4Yy02LjYyNyAwLTEyLTUuMzczLTEyLTEydi0yNGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDEydi02NGgtMTJjLTYuNjI3IDAtMTItNS4zNzMtMTItMTJ2LTI0YzAtNi42MjcgNS4zNzMtMTIgMTItMTJoNjRjNi42MjcgMCAxMiA1LjM3MyAxMiAxMnYxMDBoMTJjNi42MjcgMCAxMiA1LjM3MyAxMiAxMnYyNHoiPjwvcGF0aD48L3N2Zz4=);
	background-repeat: no-repeat;
	background-size: cover
}
.validation-error-geo{
	border-color: red !important;
	border-width: 2px !important;
}
.cfgeo-pointer .wp-pointer-content h3:before {
	content: '\f348'
}

.shortcode-table {
	width: 75%;
	margin-top: 15px
}

.shortcode-table tr {
	border-radius: 3px;
	padding: 12px 15px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px
}

.shortcode-table thead tr {
	background-color: #95a5a6;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .03em
}

.shortcode-table tbody tr {
	background-color: #fff;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1)
}

.shortcode-table td {
	width: 70%
}

.shortcode-table td+td {
	width: 30%
}

.shortcode-table tfoot {
	background-color: #95a5a6
}

.shortcode-table tfoot td {
	width: 100%
}

.shortcode-table tfoot h3,
.shortcode-table tfoot p {
	margin: 0
}

.shortcode-table input {
	color: 000;
	width: 100%;
	cursor: text
}
.sp-original-input-container{
	display: block;
}
.sp-colorize-container{
	border: none !important;
	position: absolute;
	top: 0;
	left: 1px;
	height: 100%;
	overflow: hidden;
}
.sp-colorize{
	height: 100%;
}
